.login-signup-modal #apply {
    border: none !important;
    background-color: #803333 !important;
    color: whitesmoke !important;
    margin: auto;
}

.login-signup-modal #apply:hover {
    border: none !important;
    background-color: #803333 !important;
    color: #F3B073 !important;
}