.container{
    margin-top: 5px;
}

.admin-jobs-table {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto !important;
    min-height: 100%;
}

.admin-jobs-table .fa-eye {
    color: #803333;
    cursor: pointer;
}