h3{
    color: #803333;
    margin : 5px;
}

.container{
    margin: 5px;
}

.admin-status-dropdown {
    background-color: transparent;
    border: none;
    color: #803333;
}

.admin-status-dropdown:after {
    color: #803333;
}