.apply-btn {
    border: none !important;
    background-color: #803333 !important;
    color: whitesmoke !important;
    margin: auto;
}

.apply-btn:hover {
    border: none !important;
    background-color: #803333 !important;
    color: #F3B073 !important;
}

.apply-modal {
    display: flex;
}