.fa-arrow-right,
.fa-arrow-left {
    cursor: pointer;
    text-align: right;
    margin: 1em;
    justify-self: flex-end ;
    color: whitesmoke;
}

.back-forward-buttons {
    background-color: #803333;
    direction: rtl;
    width: 100%;
    display: flex;
    justify-content: space-between;
}