html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    position: relative;
}

@font-face {
    font-family: "IranSans";
    src: url('../assets/font/IranSans.ttf');
}

* {
    font-family: IranSans;
}