.job-details {
    direction: rtl;
    padding: 4em;
    display: flex;
    flex-direction: column;
}

.job-details h4 {
    color: #803333;
}

.descript {
    padding: 0.5em;
    margin-bottom: 1em;
    height: 100%;
}

#disabled-apply {
    margin: auto;
}