.container{
    margin: 5px;
}

.job-requests-sec {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto !important;
    min-height: 100%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.job-requests-sec h3 {
    color: #803333;
    padding-top:2em;
}