.modal-dialog {
    direction: rtl;
}

.modal-dialog .modal-content {
    background-color: #803333;
    color: whitesmoke;
}

.modal-dialog .modal-content .modal-header,
.modal-dialog .modal-content .modal-footer {
    border: 0px;
}

.row > * {
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0.25em;
}

.row .modal-input {
    margin-bottom: 1em;
}

.row .modal-input:focus {
    outline: none;
}

.modal-footer .btn-warning {
    color: #803333 !important;
}

