#notification{
    z-index: 999999 !important;
    position: fixed;
    right: 25vh;
    left: 25vh;
    top: 0;
    width: 50%;
}
.alert{
    text-align: center;
    padding: 0;
}

.alert-dismissible {
    padding: 1rem !important;
}