#notification{
    z-index: 999999 !important;
    position: fixed;
    top: 100px;
    right: 25%;
    margin: auto;
    width: 50%;
}
.alert{
    text-align: center;
    padding: 0;
}

.alert-dismissible {
    padding: 1rem !important;
}