/* #addJobBtn{
    background-color: #803333;
    color: white;
} */

.container{
    margin-top: 5px;
}

h3 {
    color: #803333;
}

.user-requests-table {
    padding: 2em;
    margin: 0;
    width: 100%;
    height: auto !important;
    min-height: 100%;
}